 /* 
 Common styles
  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* 
Banner part 
 */

 .container{
    background-color: black;
    margin: 50px;
    border-radius: 7px;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .banner-info{
    width:60%;
    padding-top: 7%;
 }
 .banner-title{
    font-size: 45px;
 }
 .banner-details{
    margin-bottom: 10px;
 }
 .banner-button{
    background-color: #DD0000;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    display: flex;
    align-items: center;
 }
 .banner-img{
    padding-top:10px;
 }

 /* 
       login panel 
   */

  
   .blog-parent{
      display: flex;
      margin: 50px;
   }
   .login-parent{
      background-color: black;
      /* margin-left: 480px;
      margin-right: 480px; */
      border-radius: 7px;
      height: 40%;
      margin-right:5px ;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center;
      align-items: center; */
   }
   .login-child{
      padding-top: 3%;
      padding-bottom: 3%;
   }
   .button-1{
      padding: 5px 15px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
    }
    .button-2{
      padding: 5px 15px;
      padding-left: 37px;
      padding-right: 37px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
    }
    .red-button{
      padding: 5px 15px;
      padding-right: 53px;
      padding-left: 53px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
      background-color: red;
      color: whitesmoke;
    }

    /* 
    Blog part
      */
    .blogs{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      row-gap: 20px;
      column-gap: 20px;
    }
    .blog-panel{
      width: 312px;
      background-color: white;
      box-shadow: 10px 10px 4px lightgray;
      border-radius: 7px;
    }
    .blogs-panel{
      width: 312px;
      background-color: white;
      box-shadow: 10px 10px 4px lightgray;
      border-radius: 7px;
    }
    .img{
      width: 312px;
    } 
    .blog-button{
      margin-top: 5px;
       margin-left: 10px;
    }
    .blg-button{
       padding: 5px 15px;
       border-radius: 7px;
       background-color: gainsboro;
       font-weight: 700;
    } 
    .blog-title{
      margin-left: 10px;
      margin-top: 5px;
    } 
    .blg-title{
      font-size: 18px;
    }
    .blog-footer{
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .clock{
      padding-right: 10px;
    }
    .comment{
      padding-left: 25px;
    }

    /* 
       Footer panel 
     */
      .view-all{
        display: flex;
        justify-content: center;
        margin: 50px;
      }
      .view-button{
        background-color: #DD0000;
        padding: 10px 35px;
        color: white;
        border-radius: 5px;
      }
     .footer-parent{
      background-color: black;
      width: 1224px;
      height: 300px;
     }
     .footer-child{
      color: aliceblue;
     }
     .footer-title{
      display: flex;
      justify-content: center;
      font-size: 40px;
     }
     .ftr-title{
      margin-top: 75px;
      margin-bottom: 25px;
     }
     hr{
      margin-left: 45px;
      margin-right: 45px;
     }
     .last-item{
      display: flex;
      justify-content: space-around;
      font-size: 16px;
      color: gray;
     }
     .ftr-last-item{
      margin-top: 60px;
     }

     /* 
       Media query
      */

      /* --------
       For mobile
       -------- */
      @media screen and (max-width: 688px) {
        .view-all{
          display: none;
        }
        .container{
          justify-content: space-around;
          margin: 18px;
          border-radius: 7px;
          max-width: 100%;
          height: auto;
        }
        .banner-title{
          font-size: 20px;
          text-align: center;
        }
        .banner-details{
          font-size: 14px;
          text-align: center;
        }
        .banner-button{
          position: relative;
          left: 55px;
        }
        .banner-img{
          width: auto;
          padding-left: 35px;
          padding-right: 35px;
        }
        .login-parent{
          display: contents;
          justify-content: center;
          /* background-color: white; */
        }
        .blog-parent{
          display: inline-block;
          justify-content: center;
          margin-right: 0%;
        }
        .blogs{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          margin: 18px;
        }
        .footer-parent{
          max-width: 100%;
          height: auto;
        }
        .ftr-title{
          font-size: 22px;
        }
        .last-item{
          flex-direction: column;
          align-items: center;
          padding-bottom: 68px;
        }
        .ftr-last-item{
          font-size: 14px;
        }
      }

      /* ---------
         For tablet 
      -------- */

      @media screen and (min-width: 689px) and (max-width: 991px){
        .container{
          flex-wrap: nowrap;
          margin: 18px;
          border-radius: 7px;
          max-width: 100%;
          height: auto;
        }
        .banner-info{
          max-width: 50%;
        }
        .banner-title{
          font-size: 40px;
        }
        .banner-details{
          font-size: 14px;
        }
        .login-parent{
          display: contents;
        }
        .login-child{
          display: inline-flex;
          position: absolute;
          left: 150px;
          margin: -75px;
          margin-left: 13px;
          padding-top:4% ;
        }
        .blogs{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          margin: 14px;
        }
        .blogs-panel{
          display: none;
        }
        .footer-parent{
          max-width: 100%;
          height: auto;
        }
        .last-item{
          justify-content: space-evenly;
          padding-bottom: 68px;
        }
      }