/* 
 Common styles
  */
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* 
Banner part 
 */

 .container{
    background-color: black;
    margin: 50px;
    border-radius: 7px;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .banner-info{
    width:60%;
    padding-top: 7%;
 }
 .banner-title{
    font-size: 45px;
 }
 .banner-details{
    margin-bottom: 10px;
 }
 .banner-button{
    background-color: #DD0000;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
 }
 .banner-img{
    padding-top:10px;
 }

 /* 
       login panel 
   */

  
   .blog-parent{
      display: flex;
      margin: 50px;
   }
   .login-parent{
      background-color: black;
      /* margin-left: 480px;
      margin-right: 480px; */
      border-radius: 7px;
      height: 40%;
      margin-right:5px ;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center;
      align-items: center; */
   }
   .login-child{
      padding-top: 3%;
      padding-bottom: 3%;
   }
   .button-1{
      padding: 5px 15px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
      background-color: red;
      color: whitesmoke;
    }
    .button-2{
      padding: 5px 15px;
      padding-left: 37px;
      padding-right: 37px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
    }
    .red-button{
      padding: 5px 15px;
      padding-right: 53px;
      padding-left: 53px;
      margin: 5px;
      border-radius: 5px;
      font-weight: 700;
    }

    /* 
      Live match 
     */
     .live-matches{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 20px;
        column-gap: 15px;

     }
     .live-match{
        background-color: white;
        border: 1px solid lightgray;
        width: 312px;
        height: 242px;
        border-radius: 7px;
     }
     .match{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 70px;
     }
     .flag-img{
        width: 94px;
     }
     .vs{
        align-self: center;
     }
     .match-title{
        font-size: 14px;
        margin-left: 40px;
     }
     .match-time{
        margin-left: 59px;
     }

     /* 
       Footer panel 
     */

     .footer-parent{
        background-color: black;
        width: 1224px;
        height: 300px;
       }
       .footer-child{
        display: inline;
        justify-content: center;
        align-items: center;
        color: aliceblue;
       }
       .footer-title{
        display: flex;
        justify-content: center;
        font-size: 40px;
       }
       .ftr-title{
        margin-top: 75px;
        margin-bottom: 25px;
       }
       hr{
        margin-left: 45px;
        margin-right: 45px;
       }
       .last-item{
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        color: gray;
       }
       .ftr-last-item{
        margin-top: 60px;
       }